<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online store</title>
    <!---fav-icon-->
    <link rel="shortcut icon" href="~/Images/logo/Logo-1.png" />
    <!----using-font-awesome-for-icon--->
    <script src="https://kit.fontawesome.com/6ab3d8336c.js" crossorigin="anonymous"></script>
    <!---Site-css---->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-----Light-slider-css---->
    <link href="~/Content/lightslider.css" rel="stylesheet" />
    <!---Jquery---->    
    <script src="~/Scripts/jquery-3.6.0.js"></script>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body>
    <!----------Nav Bar-->
    <nav>
        <!-----socila links and phone------->
        <div class="social-call">
            <!-----social----->
            <div class="social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <!-----Phone------->
            <div class="phone">
                <span>+880-1642-400166</span>
            </div>
        </div>

        <!--------menu-bar------->
        <div class="navigation">
            <!-----logo----->
            <a class="logo" href="#">
                <img src="/Images/logo/logo.png" />
            </a>
            <!--Burger-menu-icon-->
            <div class="toggle"></div>

            <!------menu------>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Man</a><span class="sale-lavel">sale</span></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
            </ul>
            <!-------right-menu------->
            <div class="right-menu">
                <!---search-->
                <a href="javascript:void(0)" class="search">
                    <i class="fas fa-search"></i>
                </a>
                <!---login-->
                <a href="javascript:void(0)" class="user">
                    <i class="far fa-user"></i>
                </a><!---shopping-cart-->
                <a href="javascript:void(0)">
                    <i class="fas fa-shopping-cart">
                        <!--------cart-product-count----->
                        <span class="cart-product-count">0</span>
                    </i>
                </a>
            </div>
        </div>

    </nav>
    <!-----------search-bar----------->
    <div class="search-bar">
        <!---search-inpur--->
        <div class="search-input">
            <input type="text" placeholder="Search for product" />
            <!----search-cancle-->
            <a href="javascript:void(0)" class="search-cancle">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <!-----login-and-signup-form------>
    <div class="form">
        <!--login-->
        <div class="login-form">
            <!--cancle-btn-->
            <a href="javascript:void(0)" class="form-cancle">
                <i class="fas fa-times"></i>
            </a>
            <!--heading-->
            <strong>Log In</strong>
            <!--inputs-->
            <input type="email" placeholder="Example@gmail.com" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <!--submit-btn-->
            <input type="submit" value="Log in" />

            <div class="form-btns">
                <a href="#" class="forget">Forget Your Password?</a>
                <a href="javascript:void(0)" class="sign-up">Create Account</a>
            </div>
        </div>
        <!--Sign-up-form-->
        <div class="sign-up-form">
            <!--cancle-btn-->
            <a href="javascript:void(0)" class="form-cancle">
                <i class="fas fa-times"></i>
            </a>
            <!--heading-->
            <strong>sign up</strong>
            <!--inputs-->
            <input type="text" placeholder="Full Name" name="fullname" required />
            <input type="email" placeholder="Example@gmail.com" name="email" required />
            <input type="password" placeholder="Password" name="password" required />
            <!--submit-btn-->
            <input type="submit" value="Sign Up" />

            <div class="form-btns">
                <a href="#" class="forget">Forget Your Password?</a>
                <a href="javascript:void(0)" class="already-account">Already have Account?</a>
            </div>
        </div>

    </div>


    <div class="">
        @RenderBody()
    </div>
    <!--footer-section-->
    <section>
        <hr />
        <footer>
            <!--Copy Right-->
            <span class="copyright">
                Copyright &copy; @DateTime.Now.Year - Online shop
            </span>
            <!--Subscribe-->
            <div class="subscribe">
                <form>
                    <input type="email" placeholder="Example@yourmail.com" required>
                    <input type="submit" value="Subscribe" >
                </form>
            </div>
        </footer>
    </section>
     
   
    <!--Custom-js-->
    <script src="~/Scripts/Custom_js/Site.js"></script>
    <!--Jquery-cdn-->
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <!-----Light-slider-js-->
    <script src="~/Scripts/lightslider.js"></script>
    <!----scripts-->
    <script type="text/javascript">
        /*----search-bar-----*/
        $(document).on('click', '.search', function () {
            $('.search-bar').toggleClass('search-bar-active')
        });

        $(document).on('click', '.search-cancle', function () {
            $('.search-bar').removeClass('search-bar-active')
        });
        
        /*----login-signup-form----*/
        $(document).on('click', '.user, .already-account', function () {
            $('.form').addClass('login-active').removeClass('sign-up-active')
        });
        $(document).on('click', '.sign-up', function () {
            $('.form').addClass('sign-up-active').removeClass('login-active')
        });
        $(document).on('click', '.form-cancle', function () {
            $('.form').removeClass('login-active').removeClass('sign-up-active')
        });
        
        /*------full-slider------*/
        $(document).ready(function () {
            $('#adaptive').lightSlider({
                adaptiveHeight: true,
                item: 1,
                slideMargin: 0,
                auto: true,
                pauseOnHover: true,
                loop: true
            });
        });

        /*---featured-box-slider---*/
        $(document).ready(function () {
            $('#autoWidth').lightSlider({
                autoWidth: true,
                loop: true,
                auto: true,
                pushOnHover: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
        /*------Footer-menu-when-scroll------*/
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.navigation').addClass('fix-nav');
            }
            else {
                $('.navigation').removeClass('fix-nav');
            }
        })
        /*---toggle-menu-resposive----*/
        $(document).ready(function () {
            $('.toggle').click(function () {
                $('.toggle').toggleClass('active')
                $('.navigation').toggleClass('active')
            })
        })

    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
