<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online store</title>
    <!---fav-icon-->
    <link rel="shortcut icon" href="~/Images/logo/Logo-1.png" />
    <!----using-font-awesome-for-icon--->
    <script src="https://kit.fontawesome.com/6ab3d8336c.js" crossorigin="anonymous"></script>
    <!-----render css and js-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!----------Nav Bar-->
    <nav>
        <!-----socila links and phone------->
        <div class="social-call">
            <!-----social----->
            <div class="social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <!-----Phone------->
            <div class="phone">
                <span>+880-1642-400166</span>
            </div>
        </div>

        <!--------menu-bar------->
        <div class="navigation">
            <!-----logo----->
            <a class="logo" href="#">
                <img src="/Images/logo/Image-4.png" />
            </a>
            <!------menu------>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Man</a><span class="sale-lavel">sale</span></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
            </ul>
            <!-------right-menu------->
            <div class="right-menu">
                <!---search-->
                <a href="#" class="search">
                    <i class="fas fa-search"></i>
                </a>
                <!---login-->
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                </a><!---shopping-cart-->
                <a href="#">
                    <i class="fas fa-shopping-cart">
                        <!--------cart-product-count----->
                        <span class="cart-product-count">0</span>
                    </i>
                </a>
            </div>
        </div>

    </nav>
    <!-----------search-bar----------->
    <div class="search-bar">
        <!---search-inpur--->
        <div class="search-input">
            <input type="text" placeholder="Search for product" />
            <!----search-cancle-->
            <a href="#" class="search-cancle">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <!-----login-and-signup-form------>
    <div class="form">
        <!--login-->
        <div class="login-form">
            <!--cancle-btn-->
            <a href="#" class="form-cancle">
                <i class="fas fa-times"></i>
            </a>
            <!--heading-->
            <strong>Log In</strong>
            <!--inputs-->
            <input type="email" placeholder="Example@gmail.com" name="email" required/>
            <input type="password" placeholder="Password" name="password" required/>
            <!--submit-btn-->
            <input type="submit" value="Log in" />

            <div class="form-btns">
                <a href="#" class="forget">Forget Your Password?</a>
                <a href="#" class="sign-up">Create Account</a>
            </div>
        </div>
        <!--Sign-up-form-->
        <div class="sign-up-form">
            <!--cancle-btn-->
            <a href="#" class="form-cancle">
                <i class="fas fa-times"></i>
            </a>
            <!--heading-->
            <strong>sign up</strong>
            <!--inputs-->
            <input type="text" placeholder="Full Name" name="fullname" required/>
            <input type="email" placeholder="Example@gmail.com" name="email" required/>
            <input type="password" placeholder="Password" name="password" required/>
            <!--submit-btn-->
            <input type="submit" value="Sign Up" />

            <div class="form-btns">
                <a href="#" class="forget">Forget Your Password?</a>
                <a href="#" class="already-account">Already have Account?</a>
            </div>
        </div>

    </div>

    <div class="">
        @RenderBody()
    </div>

    <div class="">
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online shop</p>
        </footer>
    </div>
    <script src="~/Scripts/Custom_js/Site.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <!----scripts-->
    <script type="text/javascript">
        /*----search-bar-----*/
        $(document).on('click', '.search', function () {
            $('.search-bar').toggleClass('search-bar-active')
        });

        $(document).on('click', '.search-cancle', function () {
            $('.search-bar').removeClass('search-bar-active')
        });
        /*----login-signup-form----*/
        $(document).on('click', '.user, .already-account', function () {
            $('.form').addClass('login-active').removeClass('sign-up-active')
        });
        $(document).on('click', '.sign-up', function () {
            $('.form').addClass('sign-up-active').removeClass('login-active')
        });
        $(document).on('click', '.form-cancle', function () {
            $('.form').removeClass('login-active').removeClass('sign-up-active')
        });
    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
