<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online store</title>
    <!---fav-icon-->
    <link rel="shortcut icon" href="~/Images/logo/Logo-1.png" />
    <!----using-font-awesome-for-icon--->
    <script src="https://kit.fontawesome.com/6ab3d8336c.js" crossorigin="anonymous"></script>
    <!-----render css and js-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <!----------Nav Bar-->
    <nav>
        <!-----socila links and phone------->
        <div class="social-call">
            <!-----social----->
            <div class="social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <!-----Phone------->
            <div class="phone">
                <span>+880-1642-400166</span>
            </div>
        </div>

        <!--------menu-bar------->
        <div class="navigation">
            <!-----logo----->
            <a class="logo" href="#">
                <img src="/Images/logo/Image-4.png" />
            </a>
            <!------menu------>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Man</a><span class="sale-lavel">sale</span></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pages</a></li>
            </ul>
            <!-------right-menu------->
            <div class="right-menu">
                <!---search-->
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
                <!---login-->
                <a href="#">
                    <i class="far fa-user"></i>
                </a><!---shopping-cart-->
                <a href="#">
                    <i class="fas fa-shopping-cart">
                        <!--------cart-product-count----->
                        <span class="cart-product-count">0</span>
                    </i>
                </a>
            </div>
        </div>

    </nav>
    <!-----------search-bar----------->
    <div class="search-bar">
        <!---search-inpur--->
        <div class="search-input">
            <input type="text" placeholder="Search for product" />
            <!----search-cancle-->
            <a href="#" class="search-cancle">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online shop</p>
        </footer>
    </div>
    <script src="~/Scripts/Custom js/Site.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
